<div class="contaner">

    <div class="liftcontaner">
        <h3>أناقتك تبدأ من الحشمة</h3>
        <h5><p>اكتشفي أحدث تشكيلاتنا من الملابس الإسلامية التي تجمع بين الرقي
             والراحة، بتصاميم عصرية تناسب كل الأوقات والمناسبات.

          في "أصال توب" بنهتم إنك تلاقي كل اللي يعبر 
عن ذوقك وشخصيتك، بخامات عالية الجودة ولمسات أنيقة تبقى دايمًا مختلفة.
</p>
</h5>

<div class="shoping">
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">تسوق الان</a>

</div>
    </div>

    <div class="rightcontaner">
        
    </div>

</div>
